@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
:root {
    --input-color: #000000;
}

body {
    height: 100%;
    background: linear-gradient(90deg, #7FFAC7 -0.4%, #0C4D32 100.44%);
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

header{
	display: flex;
	justify-content: space-between;
}

h1 {
    font-family: Bebas Neue;
    font-size: 4.5rem;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}

.login-info{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.login-info img{
	margin: 0 1rem;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    background: linear-gradient(147.57deg, rgba(58, 94, 82, 0.6) 0%, rgba(58, 94, 82, 0.06) 100%);
    backdrop-filter: blur(61px);
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #FFF;
}

li {
    list-style: none;
}

button,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: #3F5EFB;
    padding: .4rem 2rem;
    background: #fff;
    text-transform: lowercase;
    cursor: pointer;
}

button.primary,
.button.primary {
    background: #3F5EFB;
    color: #FFF;
}

button.icon,
.button.icon {
    padding: .5rem;
}

.action {
    align-self: flex-end;
    margin-right: 2rem;
}

.alert {
    margin: 0 auto;
    max-width: 300px;
    padding: 1rem;
    background: linear-gradient(147.57deg, rgba(0, 255, 102, 0.6) 0%, rgba(0, 255, 102, 0.06) 100%);
    backdrop-filter: blur(61px);
    border-radius: 10px;
}

.alert.error{
	background: linear-gradient(147.57deg, rgba(255, 0, 102, 0.6) 0%, rgba(255, 0, 102, 0.06) 100%);
	color: #FFF;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}