.home {
	display: flex;
	margin: 2rem;
}

.home .left h2{
	font-size: 3rem;	
}

.home .left p{
	font-size: 1.5rem;
}

.home .left .buttons{
	display: flex;	
}

.home .left .buttons .button{
	margin-right: 1.5rem;
}

.home .right img{
	width: 100%;
	height: 100%;
}

