.menu{
	flex: 1;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	padding: 2rem;
}

.menu a{
	font-weight: regular;
	font-size: 1.5rem;
	padding-bottom: .5rem;
}

.menu a.active{
	font-weight: bold;
	border-bottom: 3px solid #FC466B;
	color: #FC466B;
}

.menu a:hover{
	border-bottom: 3px solid #FC466B;
}