<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Mercadão99</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/produtos.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/users.css}">
    <link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">
</head>
<body>

<header th:fragment="header">
    <h1>
        <a href="/">Mercadão99</a>
    </h1>

    <div class="login-info">
        <!--		<span th:text="${#authentication.getPrincipal().getName()}"></span>-->
        <!--		<img class="avatar" alt="" th:src="${#authentication.getPrincipal().getAvatarUrl()}">-->
<!--        <a href="/logout" title="sair">-->
            <span class="material-icons">logout</span>
        </a>
    </div>
</header>

<nav th:fragment="menu(page)">
    <ul class="menu">
        <li>
            <a href="/produto" th:classappend="${page=='products'}?active">
				<span class="material-icons">
					check_circle
				</span>
                <span th:text="#{menu.products}"></span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/user" th:classappend="${page=='user'}?active">
				<span class="material-icons">
					perm_identity
				</span>
                <span th:text="#{menu.user}"></span>
            </a>
        </li>
        <li>
            <a href="/ranking" th:classappend="${page=='ranking'}?active">
				<span class="material-icons">
					star
				</span>
                <span th:text="#{menu.ranking}"></span>
            </a>
        </li>
    </ul>
</nav>

</body>
</html>