<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

<h1>Mercadão99</h1>

<main class="home">
    <div class="left">
        <h2>Comida boa com desconto</h2>
        <p>Os itens estão próximo a data de validade </p>

        <div class="buttons">
            <a href="/login" class="button">
                <span class="material-icons"> login cliente </span>
                <span th:text="#{label.login}"></span>
            </a>

            <a href="/users/new" class="button">
                <span class="material-icons"> cadastre-se </span>
                <span th:text="#{label.register}"></span>
            </a>
        </div>
    </div>




</main>