<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>
	<header th:include="_template :: header"></header>
	<main class="container">
		<h1 class="text-center">Nós somos a ITProdigium e esse é o nosso projeto Mercadão99</h1>
		<p class="text-center">Esse projeto tem como objetivo ajudar restaurantes a conseguir utilizar os alimentos que estão sendo mau utilizados a vender para familias
			que necessitam desse alimento por meio da venda deles por um preço menor de acordo com a quantidade</p>
		<h3 class="text-center">Essas são nossas atuais empresas parceiras e suas informações:</h3>
		<div
		        th:if="${msg != null}"  
		        class="alert alert-success" 
		        style="width: max-content"
		        role="alert">
		        <span th:text="${msg}"></span>
		</div>
		<div class="row">
			<div class="col-12 col-md-4" th:each="empresa : ${empresas}">
				<div class="border rounded p-3 text-center">
					<h3 th:text="${empresa.nome}"></h3>
					<p th:text="${empresa.cnpj}"></p>
					<p th:text="${empresa.telefone}"></p>
					<p th:text="${'Dono: ' + empresa.user.nome}"></p>
					<p th:text="${empresa.user.email}"></p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>