<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>

<header th:include="_template :: header"></header>

<section class="card form">
    <h2>Cadastro de Produto</h2>

    <form th:action="@{/produto}" method="post" th:object="${produto}">
        <label for="name">Nome</label>
        <input
                type="text"
                name="name"
                id="name"
                th:field="*{name}"
                th:classappend="${#fields.hasErrors('name')}?invalid"
        />
        <span class="error" th:errors="*{name}"></span>

        <label for="description">Descrição</label>
        <textarea name="descricao" id="description" th:field="*{description}" th:classappend="${#fields.hasErrors('descricao')}?invalid"
        ></textarea>
        <span class="error"  th:errors="*{descricao}"></span>

        <label for="preco">Preço</label>
        <input type="number" name="preco" id="preco" th:field="*{preco}" th:classappend="${#fields.hasErrors('preco')}?invalid"/>
        <span class="error"  th:errors="*{preco}"></span>

        <label for="validThru">Data de Validade</label>
        <input type="date" name="validThru" id="validThru" th:field="*{validThru}" th:classappend="${#fields.hasErrors('validThru')}?invalid"/>
        <span class="error"  th:errors="*{preco}"></span>

        <label for="stock">Quantidade em Estoque</label>
        <input type="number" name="" id="stock" th:field="*{stock}" th:classappend="${#fields.hasErrors('stock')}?invalid"/>
        <span class="error"  th:errors="*{stock}"></span>


        <div class="buttons">
            <a href="/produto" class="button">Cancelar</a>
            <button class="button primary">Salvar</button>
        </div>

    </form>
</section>

</body>
</html>